$pink: #ea168d;
$yellow: #ffef2a;
$green: #008f4e;

$dottedBorder: 2px dotted $green;

@import url("https://use.typekit.net/ilz2ops.css");

// font-family: courier-prime, monospace;
// font-weight: 400 | 700;
// font-style: normal;

// font-family: poplar-std, sans-serif;
// font-weight: 400
// font-style: normal

$hdrFont: normal 400 2rem/1.2em poplar-std, sans-serif;
$subHdrFont: normal 400 1.5rem/1.2em poplar-std, sans-serif;
$bodyFont: normal 400 1rem/1.2em courier-prime, monospace;