$pink: #ea168d;
$yellow: #ffef2a;
$green: #008f4e;
$blue: #00aeeb;

$dottedBorder: 2px dotted $green;

@import url("https://use.typekit.net/ilz2ops.css");

// font-family: courier-prime, monospace;
// font-weight: 400 | 700;
// font-style: normal;

// font-family: poplar-std, sans-serif;
// font-weight: 400
// font-style: normal

// font-family: constructa, serif;
// font-weight: 400;
// font-style: normal;

$hdrFont1: normal 400 2rem/1.2em poplar-std, sans-serif;
$hdrFont2: normal 400 2rem/1.2em constructa, serif;
$subHdrFont1: normal 400 1.5rem/1.2em poplar-std, sans-serif;
$subHdrFont2: normal 400 1.5rem/1.2em constructa, sans-serif;
$bodyFont: normal 400 1rem/1.2em courier-prime, monospace;

/*
BREAKPOINTS
*/
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (max-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (max-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (max-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (max-width: #{$screen-xl-min}) {
       @content;
   }
}

// Custom devices
@mixin rwd($screen) {
   @media (max-width: $screen+'px') {
       @content;
   }
}

// use case:
// @include sm {
//         ...
//     }