@import "variables";

*, 
body{
    box-sizing: border-box;
    font: $bodyFont;
    transition: all .3s; 
}

h1, h2, h3, h4, h5, h6{
    margin-top: 0;
}

h1, h2{
    font: $hdrFont1;
    &.alt{
        font: $hdrFont2;
    }
}
h1{
    font-size: 3rem;
}
h2{
    margin-bottom: .5rem;
}
h3, h4, h5, h6{
    font: $subHdrFont1;
    margin-bottom: 0;
    &.alt{
        font: $subHdrFont2;
    }
}

.pink,
.pink *{
    color: $pink;
}
.green,
.green *{
    color: $green;
}
.blue,
.blue *{
    color: $blue;
}

table p{
    margin-bottom: 0;
}

a{
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0);
    box-shadow: none;
    text-decoration: underline;
    &:hover{
        color: $green;
    }
    &:focus{
        outline: none;
        border: 2px solid $blue;
    }
}

footer{
    margin-top: 1rem;
    font-size: .8rem;
    *{
        font-size: .8rem;
    }
}

.twoCol{
    display: flex;
    flex-wrap: wrap;

    > *{
        width: 45%;
        margin-right: 5%;
    }
    > :last-child{
        margin-right: 0;
    }

    @include md {
        flex-direction: column;
        > *{
            width: 100%;
            margin-bottom: 1.5rem;
            margin-right: 0;
        }
    }
}
